@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-red {
  background: linear-gradient(270deg, #5E0B0F, #911718, #BE1C17);
  background-size: 600% 600%;
  animation: gradientBG 7s ease infinite;
}

.gradient-green {
  background: linear-gradient(270deg, #274B07, #70B652, #97C426);
  background-size: 600% 600%;
  animation: gradientBG 7s ease infinite;
}

.gradient-blue {
  background: linear-gradient(270deg, #003C72, #1061B0, #3585DA);
  background-size: 600% 600%;
  animation: gradientBG 7s ease infinite;
}

.gradient-gray {
  background: linear-gradient(270deg, #8CBDD6, #9BC5DA, #BAD5E1);
  background-size: 600% 600%;
  animation: gradientBG 7s ease infinite;
}
